.App {
  text-align: center;
}

img {
  max-height: 150px;
  max-width: 150px;
  margin: 10px;
}

.item-container {
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: gainsboro;
  width: 325px;
  
}

.name-and-number {
  display: flex;
  flex-direction: column;
}

.number-buttons {
  display: flex;
  flex-direction: row;
}

.number {
  margin: 10px;
}

#shopping-cart-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  text-align: flex-end;
}

#shopping-cart-image {
  max-height: 20px;
  max-width: 20px;
}

.shopping-cart-list-item {
  display: flex;
  flex-direction: row;
}

.shopping-cart-list-column {
  margin: 10px;
  width: 100px;
}

.shopping-cart-list-top {
  margin: 10px;
  width: 100px;
  font-weight: bold;
}

.image {
  max-width: 180px;
  height: auto;
}

#main-page {
  display: flex;
  column-count: 3;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
}

#shopping-cart-statement {
  margin: 10px;
}

.description-div {
  font-style: italic;
  font-size: 10pt;
}