.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  text-align: center;
  background-color:#fafafa;
  font-size: 16px;
}

h1 {
  margin: 40px;
  background-color: white;
  display: flex;
  font-family: cursive;
}

.text-box {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.comment-text-box {
  width: 330px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.image-container {
  border-style: solid;
  border-width: 15px;
  border-color: white;
  max-width: 470px;
  min-width: 400px;
  max-height: 500px;
  z-index: 1;
}

#wag-container {
  border-style: solid;
  background-color: white;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  color: black;
  display: flex;
  flex: 20%;
}

.comment-container {
  border-style: solid;
  background-color: white;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  display: flex;
  flex: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wags-and-comments {
  column-count: 2;
  display: flex;
  width: 500px;
  justify-content: center;
  margin: 0 auto;
}

button {
  text-align: center;
  display: inline-block;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 14px;
  color: black;
}

.arrows-and-image-container {
  column-count: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-button {
  display: inline-block;
  text-align: right;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
}

.left-arrow {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  opacity: 0.6;
}

.right-arrow {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  transform: rotate(180deg);
  opacity: 0.6;
}

.right-button {
  display: block;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
}

.like-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wag-image {
  display: flex;
  right: 100px;
  max-width: 100px;
  max-height: 100px;
  z-index: 0;
  position: absolute;
  left: 210px;
  bottom: 320px;
}

#pupstagram-logo {
  height: 80px;

}

#header-div{
  display: flex;
  column-count: 2;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
}

.image-info-bar {
  border-style: solid;
  background-color: white;
  border-width: 1px;
  border-radius: 5px 5px 0px 0px;
  border-color: lightgray;
  border-bottom: none;
  display: flex;
  justify-content: center;
  min-height: 40px;
  max-width: 500px;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3px;
}

.poster {
  display: flex;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}

.location {
  display: flex;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

.caption-container {
  border-style: solid;
  background-color: white;
  border-width: 1px;
  border-radius: 0px 0px 5px 5px;
  border-color: lightgray;
  border-top: none;
  display: flex;
  justify-content: center;
  min-height: 40px;
  max-width: 500px;
  flex-direction: column;
  margin: 0 auto;
}

.main-image-div {
  background-color: white;
  position: relative;
  width: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-top: none;
  border-bottom: none;
}

.commenter-name {
  font-weight: bold;
  display: flex;
}

.comment {
  display: flex;
  padding-left: 7px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 350px;
  min-width: 0;
  overflow-x: scroll;
}

.comment-box {
  display: flex;
  column-count: 2;
  flex-direction: row;
  padding-bottom: 4px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.delete-comment-button {
  max-height: 29px;

}