.App {
  text-align: center;
}

.all-songs-song-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.highlighted-song-div {
  display: flex;
  background-color: rgb(92, 91, 91);
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.all-songs-column {
  width: 350px
}

body {
  background-color: black;
  color: white;
  font-size: 12pt;
  line-height: 20pt;
}

button {
  background-color: black;
  color: lightgray;
  border-radius: 25px;
  max-height: 16pt;
  align-items: center;
  vertical-align: middle;
  margin-top: 2px;
  margin-right: 2px;
}

img {
  align-items: center;
  vertical-align: auto;
  margin-top: 3px;
}

.rotated-arrow {
  transform: rotate(180deg);
  height: 10px;
  width: auto;
  align-items: center;
}

.arrow {
  height: 10px;
  width: auto;
  align-items: center;
}

h2 {
  text-align: left;
  margin-left: 20px;

}

.sorting-buttons-container {
  text-align: center;
  max-width: 1000px;
  margin-bottom: 20px;
}

.search-buttons-container {
  text-align: center;
  max-width: 1000px;
  margin-bottom: 20px;
}

.search-bar {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  width: 200px;
}